// Global Variables
// ===


// Size Variables
// ---

$unit: 1rem;
$sub-unit: $unit / 2;


// Type Variables
// ---
//
// Note: To set font sizes, use the typographic scale found in the
//       _type-scale.scss partial.

$font-family--emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family--sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
$font-family--mono: 'PT Mono', monospace;
$font-family--base: $font-family--mono, $font-family--emoji;

$font-size--base: $unit;

$font-weight--base: 300;
$font-weight--bold: 700;

$line-height--base: 1.6;
$line-height--tight: 1.15;


// Colour Variables
// ---

$primary-color:     #efe8d8;
$secondary-color:   #3c485d;
$white:             lighten($primary-color, 10%);
$black:             darken($secondary-color, 10%);

$color-map: (
    black: $black,
    white: $white,
);


// Size Variables
// ---

$space--very-small: $unit/4;
$space--small: $unit/2;
$space--base: $unit;
$space--large: $unit*2;
$space--very-large: $unit*4;

$size-map: (
    xs: $space--very-small,
    sm: $space--small,
    md: $space--base,
    lg: $space--large,
    xl: $space--very-large,
);


// Z Axis
// ---

$z0-depth: -1;
$z1-depth: 1;
$z2-depth: 10;
$z3-depth: 100;
$z4-depth: 1000;

$z-map: (
    under: $z0-depth,
    basic: $z1-depth,
    stack: $z2-depth,
    shade: $z3-depth,
    modal: $z4-depth,
);


// Width of the content area
// ---

$content-area--small: $unit*30;
$content-area--medium: $unit*45;
$content-area--large: $unit*60;

$content-area-map: (
    narrow: $content-area--small,
    base: $content-area--medium,
    wide: $content-area--large,
);


// Style Variables
// ---

$border-radius: $unit / 4;
