// Project-Wide Configurable Variables
// ============================================================================

// Everything is based off this define unit and ratio
$configure--base-unit: 1rem;
$configure--base-ratio: 1.125;

// All text is based off this font size
$configure--text-size: 1rem;

// Choose your base typographic styles
$configure--primary-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
$configure--secondary-font: 'Georgia', serif;
$configure--code-font: 'Menlo' monospace;
$configure--emoji-font: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

// Choose your desired type weights
$configure--text-weight: 300;
$configure--text-bold: 700;

// Choose the colours of your entire project
$configure--primary-color: #3c485d;
$configure--secondary-color: #efe8d8;
$configure--accent-color: blue;




// ============================================================================




// Size options
$size-map: (
    xs: $configure--base-unit/4,
    sm: $configure--base-unit/2,
    md: $configure--base-unit,
    lg: $configure--base-unit*2,
    xl: $configure--base-unit*4,
);

// Typeface options
$typeface-map: (
    primary: $configure--primary-font,
    secondary: $configure--secondary-font,
    emoji: $configure--emoji-font,
    code: $configure--code-font,
);

// Weight options
$type-weight-map: (
    base: $configure--text-weight,
    bold: $configure--text-bold,
);

// Leading options
$leading-map: (
    base: ($configure--base-ratio * 1.4),
    tight: $configure--base-ratio,
);

// Colour options
$color-map: (
    primary:   $configure--primary-color,
    secondary: $configure--secondary-color,
    link:      $configure--accent-color,
    black:     mix(#000, mix(#000, mix(#000, $configure--primary-color))),
    white:     mix(#fff, mix(#fff, mix(#fff, $configure--primary-color))),
    tu: #36465d,
    fb: #3b5998,
    li: #0077b5,
    in: #517fa4,
    tw: #55acee,
    go: #dd4b39,
    yt: #cd201f,
    pi: #bd081c,
);

// Z-axis options
$z-map: (
    under: -1,
    basic: 1,
    stack: 10,
    shade: 100,
    modal: 1000,
);

// Content area options
$content-area-map: (
    narrow: $configure--base-unit*30,
    medium: $configure--base-unit*45,
    wide:   $configure--base-unit*60,
);

// Dimensions options
$dimensions-map: (
    0: 0,
    1of4: round(100%/4),
    1of3: round(100%/3),
    half: round(100%/2),
    2of3: round(100%/1.5151),
    3of4: round(100%/1.3333),
    full: round(100%/1),
);

// Style options
$appearances-map: (
    border-radius-base: $configure--base-unit / ($configure--base-ratio * 3),
    border-radius-circle: 100%,
    half-transparent: 0.5,
    fully-transparent: 0,
);

// Direction options
$directions-map: (
    top,
    left,
    right,
    bottom,
);
