/* Utilities: Spacing */
/* ========== */

@import "./_responsive";

.u-padding-0         { padding: 0; }
.u-padding-top-0     { padding-top: 0; }
.u-padding-right-0   { padding-right: 0; }
.u-padding-bottom-0  { padding-bottom: 0; }
.u-padding-left-0    { padding-left: 0; }
.u-padding-x-0       { padding-left: 0; padding-right: 0; }
.u-padding-y-0       { padding-top: 0; padding-bottom: 0; }

.u-padding-xs        { padding: var(--space-xs); }
.u-padding-top-xs    { padding-top: var(--space-xs); }
.u-padding-right-xs  { padding-right: var(--space-xs); }
.u-padding-bottom-xs { padding-bottom: var(--space-xs); }
.u-padding-left-xs   { padding-left: var(--space-xs); }
.u-padding-x-xs      { padding-left: var(--space-xs); padding-right: var(--space-xs); }
.u-padding-y-xs      { padding-top: var(--space-xs); padding-bottom: var(--space-xs); }

.u-padding-sm        { padding: var(--space-sm); }
.u-padding-top-sm    { padding-top: var(--space-sm); }
.u-padding-right-sm  { padding-right: var(--space-sm); }
.u-padding-bottom-sm { padding-bottom: var(--space-sm); }
.u-padding-left-sm   { padding-left: var(--space-sm); }
.u-padding-x-sm      { padding-left: var(--space-sm); padding-right: var(--space-sm); }
.u-padding-y-sm      { padding-top: var(--space-sm); padding-bottom: var(--space-sm); }

.u-padding-md        { padding: var(--space-md); }
.u-padding-top-md    { padding-top: var(--space-md); }
.u-padding-right-md  { padding-right: var(--space-md); }
.u-padding-bottom-md { padding-bottom: var(--space-md); }
.u-padding-left-md   { padding-left: var(--space-md); }
.u-padding-x-md      { padding-left: var(--space-md); padding-right: var(--space-md); }
.u-padding-y-md      { padding-top: var(--space-md); padding-bottom: var(--space-md); }

.u-padding-lg        { padding: var(--space-lg); }
.u-padding-top-lg    { padding-top: var(--space-lg); }
.u-padding-right-lg  { padding-right: var(--space-lg); }
.u-padding-bottom-lg { padding-bottom: var(--space-lg); }
.u-padding-left-lg   { padding-left: var(--space-lg); }
.u-padding-x-lg      { padding-left: var(--space-lg); padding-right: var(--space-lg); }
.u-padding-y-lg      { padding-top: var(--space-lg); padding-bottom: var(--space-lg); }

.u-padding-xl        { padding: var(--space-xl); }
.u-padding-top-xl    { padding-top: var(--space-xl); }
.u-padding-right-xl  { padding-right: var(--space-xl); }
.u-padding-bottom-xl { padding-bottom: var(--space-xl); }
.u-padding-left-xl   { padding-left: var(--space-xl); }
.u-padding-x-xl      { padding-left: var(--space-xl); padding-right: var(--space-xl); }
.u-padding-y-xl      { padding-top: var(--space-xl); padding-bottom: var(--space-xl); }

@media (--small-only) {
  .u-padding-0--small-only         { padding: 0; }
  .u-padding-top-0--small-only     { padding-top: 0; }
  .u-padding-right-0--small-only   { padding-right: 0; }
  .u-padding-bottom-0--small-only  { padding-bottom: 0; }
  .u-padding-left-0--small-only    { padding-left: 0; }
  .u-padding-x-0--small-only       { padding-left: 0; padding-right: 0; }
  .u-padding-y-0--small-only       { padding-top: 0; padding-bottom: 0; }

  .u-padding-xs--small-only        { padding: var(--space-xs); }
  .u-padding-top-xs--small-only    { padding-top: var(--space-xs); }
  .u-padding-right-xs--small-only  { padding-right: var(--space-xs); }
  .u-padding-bottom-xs--small-only { padding-bottom: var(--space-xs); }
  .u-padding-left-xs--small-only   { padding-left: var(--space-xs); }
  .u-padding-x-xs--small-only      { padding-left: var(--space-xs); padding-right: var(--space-xs); }
  .u-padding-y-xs--small-only      { padding-top: var(--space-xs); padding-bottom: var(--space-xs); }

  .u-padding-sm--small-only        { padding: var(--space-sm); }
  .u-padding-top-sm--small-only    { padding-top: var(--space-sm); }
  .u-padding-right-sm--small-only  { padding-right: var(--space-sm); }
  .u-padding-bottom-sm--small-only { padding-bottom: var(--space-sm); }
  .u-padding-left-sm--small-only   { padding-left: var(--space-sm); }
  .u-padding-x-sm--small-only      { padding-left: var(--space-sm); padding-right: var(--space-sm); }
  .u-padding-y-sm--small-only      { padding-top: var(--space-sm); padding-bottom: var(--space-sm); }

  .u-padding-md--small-only        { padding: var(--space-md); }
  .u-padding-top-md--small-only    { padding-top: var(--space-md); }
  .u-padding-right-md--small-only  { padding-right: var(--space-md); }
  .u-padding-bottom-md--small-only { padding-bottom: var(--space-md); }
  .u-padding-left-md--small-only   { padding-left: var(--space-md); }
  .u-padding-x-md--small-only      { padding-left: var(--space-md); padding-right: var(--space-md); }
  .u-padding-y-md--small-only      { padding-top: var(--space-md); padding-bottom: var(--space-md); }

  .u-padding-lg--small-only        { padding: var(--space-lg); }
  .u-padding-top-lg--small-only    { padding-top: var(--space-lg); }
  .u-padding-right-lg--small-only  { padding-right: var(--space-lg); }
  .u-padding-bottom-lg--small-only { padding-bottom: var(--space-lg); }
  .u-padding-left-lg--small-only   { padding-left: var(--space-lg); }
  .u-padding-x-lg--small-only      { padding-left: var(--space-lg); padding-right: var(--space-lg); }
  .u-padding-y-lg--small-only      { padding-top: var(--space-lg); padding-bottom: var(--space-lg); }

  .u-padding-xl--small-only        { padding: var(--space-xl); }
  .u-padding-top-xl--small-only    { padding-top: var(--space-xl); }
  .u-padding-right-xl--small-only  { padding-right: var(--space-xl); }
  .u-padding-bottom-xl--small-only { padding-bottom: var(--space-xl); }
  .u-padding-left-xl--small-only   { padding-left: var(--space-xl); }
  .u-padding-x-xl--small-only      { padding-left: var(--space-xl); padding-right: var(--space-xl); }
  .u-padding-y-xl--small-only      { padding-top: var(--space-xl); padding-bottom: var(--space-xl); }
}

@media (--small-up) {
  .u-padding-0--small-up         { padding: 0; }
  .u-padding-top-0--small-up     { padding-top: 0; }
  .u-padding-right-0--small-up   { padding-right: 0; }
  .u-padding-bottom-0--small-up  { padding-bottom: 0; }
  .u-padding-left-0--small-up    { padding-left: 0; }
  .u-padding-x-0--small-up       { padding-left: 0; padding-right: 0; }
  .u-padding-y-0--small-up       { padding-top: 0; padding-bottom: 0; }

  .u-padding-xs--small-up        { padding: var(--space-xs); }
  .u-padding-top-xs--small-up    { padding-top: var(--space-xs); }
  .u-padding-right-xs--small-up  { padding-right: var(--space-xs); }
  .u-padding-bottom-xs--small-up { padding-bottom: var(--space-xs); }
  .u-padding-left-xs--small-up   { padding-left: var(--space-xs); }
  .u-padding-x-xs--small-up      { padding-left: var(--space-xs); padding-right: var(--space-xs); }
  .u-padding-y-xs--small-up      { padding-top: var(--space-xs); padding-bottom: var(--space-xs); }

  .u-padding-sm--small-up        { padding: var(--space-sm); }
  .u-padding-top-sm--small-up    { padding-top: var(--space-sm); }
  .u-padding-right-sm--small-up  { padding-right: var(--space-sm); }
  .u-padding-bottom-sm--small-up { padding-bottom: var(--space-sm); }
  .u-padding-left-sm--small-up   { padding-left: var(--space-sm); }
  .u-padding-x-sm--small-up      { padding-left: var(--space-sm); padding-right: var(--space-sm); }
  .u-padding-y-sm--small-up      { padding-top: var(--space-sm); padding-bottom: var(--space-sm); }

  .u-padding-md--small-up        { padding: var(--space-md); }
  .u-padding-top-md--small-up    { padding-top: var(--space-md); }
  .u-padding-right-md--small-up  { padding-right: var(--space-md); }
  .u-padding-bottom-md--small-up { padding-bottom: var(--space-md); }
  .u-padding-left-md--small-up   { padding-left: var(--space-md); }
  .u-padding-x-md--small-up      { padding-left: var(--space-md); padding-right: var(--space-md); }
  .u-padding-y-md--small-up      { padding-top: var(--space-md); padding-bottom: var(--space-md); }

  .u-padding-lg--small-up        { padding: var(--space-lg); }
  .u-padding-top-lg--small-up    { padding-top: var(--space-lg); }
  .u-padding-right-lg--small-up  { padding-right: var(--space-lg); }
  .u-padding-bottom-lg--small-up { padding-bottom: var(--space-lg); }
  .u-padding-left-lg--small-up   { padding-left: var(--space-lg); }
  .u-padding-x-lg--small-up      { padding-left: var(--space-lg); padding-right: var(--space-lg); }
  .u-padding-y-lg--small-up      { padding-top: var(--space-lg); padding-bottom: var(--space-lg); }

  .u-padding-xl--small-up        { padding: var(--space-xl); }
  .u-padding-top-xl--small-up    { padding-top: var(--space-xl); }
  .u-padding-right-xl--small-up  { padding-right: var(--space-xl); }
  .u-padding-bottom-xl--small-up { padding-bottom: var(--space-xl); }
  .u-padding-left-xl--small-up   { padding-left: var(--space-xl); }
  .u-padding-x-xl--small-up      { padding-left: var(--space-xl); padding-right: var(--space-xl); }
  .u-padding-y-xl--small-up      { padding-top: var(--space-xl); padding-bottom: var(--space-xl); }
}

@media (--medium-up) {
  .u-padding-0--medium-up         { padding: 0; }
  .u-padding-top-0--medium-up     { padding-top: 0; }
  .u-padding-right-0--medium-up   { padding-right: 0; }
  .u-padding-bottom-0--medium-up  { padding-bottom: 0; }
  .u-padding-left-0--medium-up    { padding-left: 0; }
  .u-padding-x-0--medium-up       { padding-left: 0; padding-right: 0; }
  .u-padding-y-0--medium-up       { padding-top: 0; padding-bottom: 0; }

  .u-padding-xs--medium-up        { padding: var(--space-xs); }
  .u-padding-top-xs--medium-up    { padding-top: var(--space-xs); }
  .u-padding-right-xs--medium-up  { padding-right: var(--space-xs); }
  .u-padding-bottom-xs--medium-up { padding-bottom: var(--space-xs); }
  .u-padding-left-xs--medium-up   { padding-left: var(--space-xs); }
  .u-padding-x-xs--medium-up      { padding-left: var(--space-xs); padding-right: var(--space-xs); }
  .u-padding-y-xs--medium-up      { padding-top: var(--space-xs); padding-bottom: var(--space-xs); }

  .u-padding-sm--medium-up        { padding: var(--space-sm); }
  .u-padding-top-sm--medium-up    { padding-top: var(--space-sm); }
  .u-padding-right-sm--medium-up  { padding-right: var(--space-sm); }
  .u-padding-bottom-sm--medium-up { padding-bottom: var(--space-sm); }
  .u-padding-left-sm--medium-up   { padding-left: var(--space-sm); }
  .u-padding-x-sm--medium-up      { padding-left: var(--space-sm); padding-right: var(--space-sm); }
  .u-padding-y-sm--medium-up      { padding-top: var(--space-sm); padding-bottom: var(--space-sm); }

  .u-padding-md--medium-up        { padding: var(--space-md); }
  .u-padding-top-md--medium-up    { padding-top: var(--space-md); }
  .u-padding-right-md--medium-up  { padding-right: var(--space-md); }
  .u-padding-bottom-md--medium-up { padding-bottom: var(--space-md); }
  .u-padding-left-md--medium-up   { padding-left: var(--space-md); }
  .u-padding-x-md--medium-up      { padding-left: var(--space-md); padding-right: var(--space-md); }
  .u-padding-y-md--medium-up      { padding-top: var(--space-md); padding-bottom: var(--space-md); }

  .u-padding-lg--medium-up        { padding: var(--space-lg); }
  .u-padding-top-lg--medium-up    { padding-top: var(--space-lg); }
  .u-padding-right-lg--medium-up  { padding-right: var(--space-lg); }
  .u-padding-bottom-lg--medium-up { padding-bottom: var(--space-lg); }
  .u-padding-left-lg--medium-up   { padding-left: var(--space-lg); }
  .u-padding-x-lg--medium-up      { padding-left: var(--space-lg); padding-right: var(--space-lg); }
  .u-padding-y-lg--medium-up      { padding-top: var(--space-lg); padding-bottom: var(--space-lg); }

  .u-padding-xl--medium-up        { padding: var(--space-xl); }
  .u-padding-top-xl--medium-up    { padding-top: var(--space-xl); }
  .u-padding-right-xl--medium-up  { padding-right: var(--space-xl); }
  .u-padding-bottom-xl--medium-up { padding-bottom: var(--space-xl); }
  .u-padding-left-xl--medium-up   { padding-left: var(--space-xl); }
  .u-padding-x-xl--medium-up      { padding-left: var(--space-xl); padding-right: var(--space-xl); }
  .u-padding-y-xl--medium-up      { padding-top: var(--space-xl); padding-bottom: var(--space-xl); }
}
