// Utilities: Appearance
// ---

.u-rounded {
    border-radius: map-get($appearances-map, border-radius-base);
}

.u-circle {
    border-radius: map-get($appearances-map, border-radius-circle);
}

.u-half-transparent {
    opacity: map-get($appearances-map, half-transparent);
}
