// Utilities: Appearance
// ---

.u-rounded-corners {
    border-radius: map-get($appearances-map, rounded-corners);
}

.u-very-rounded-corners {
    border-radius: map-get($appearances-map, very-rounded-corners);
}

.u-circle {
    border-radius: map-get($appearances-map, circle);
}

.u-half-transparent {
    opacity: map-get($appearances-map, half-transparent);
}

.u-fully-transparent {
    opacity: map-get($appearances-map, fully-transparent);
}
