// Utilities: Flex
// ============================================================================

@include generate-breakpoint-suffixes {
    &-flexbox {
        display: flex;

        &:not([class*='*-flex-column']) {
            flex-direction: row;
        }
    }

    &-flex-column {
        flex-direction: column;
    }
}


// Flex Layout
// ---

@include generate-breakpoint-suffixes {
    &-align-middle {
        align-items: center;
    }

    &-justify-start {
        justify-content: flex-start;
    }

    &-justify-end {
        justify-content: flex-end;
    }

    &-justify-middle {
        justify-content: center;
    }
}


// Flexbox Children
// ---

@include generate-breakpoint-suffixes {
    &-flex {
        display: block;
        flex: 1 1 auto;
    }

    &-flex-expand {
        display: block;
        flex: 1;
    }

    &-flex-shrink {
        display: block;
        flex: 0 1 auto;
    }
}
