/* Typographic scale */
/* ========== */

/**
  * “The simplest scale is a single note, and sticking with a single note draws
  *  more attention to other parameters, such as rhythm and inflection... In the
  * sixteenth century, a series of common sizes developed among European
  * typographers, and the series survived with little change and few additions
  * for 400 years... This is the typographic equivalent of the diatonic scale.”
  * -- Robert Bringhurst - The Elements of Typographic Style
  *
  **/

/* Type scale variables */
@import './_responsive';

:root {
  --type--base: var(--unit);
  --type--ratio: var(--ratio);

  --type--scale0: var(--type--base); /* 16px */
  --type--scale1: calc(var(--type--ratio) * var(--type--scale0));
  --type--scale2: calc(var(--type--ratio) * var(--type--scale1));
  --type--scale3: calc(var(--type--ratio) * var(--type--scale2));
  --type--scale4: calc(var(--type--ratio) * var(--type--scale3));
  --type--scale5: calc(var(--type--ratio) * var(--type--scale4));
  --type--scale6: calc(var(--type--ratio) * var(--type--scale5));
  --type--scale7: calc(var(--type--ratio) * var(--type--scale6));


  --type--headline1 {
    font-size: var(--type--scale5);

    @media (--small-up) {
      font-size: var(--type--scale6);
    }

    @media (--medium-up) {
      font-size: var(--type--scale7);
    }
  }

  --type--headline2 {
    font-size: var(--type--scale4);

    @media (--small-up) {
      font-size: var(--type--scale5);
    }

    @media (--medium-up) {
      font-size: var(--type--scale6);
    }
  }

  --type--headline3 {
    font-size: var(--type--scale3);

    @media (--small-up) {
      font-size: var(--type--scale4);
    }

    @media (--medium-up) {
      font-size: var(--type--scale5);
    }
  }

  --type--headline4 {
    font-size: var(--type--scale2);

    @media (--small-up) {
      font-size: var(--type--scale3);
    }

    @media (--medium-up) {
      font-size: var(--type--scale4);
    }
  }

  --type--headline5 {
    font-size: var(--type--scale1);

    @media (--small-up) {
      font-size: var(--type--scale2);
    }

    @media (--medium-up) {
      font-size: var(--type--scale3);
    }
  }

  --type--headline6 {
    font-size: var(--type--scale0);

    @media (--small-up) {
      font-size: var(--type--scale1);
    }

    @media (--medium-up) {
      font-size: var(--type--scale2);
    }
  }

  --type--body {
    font-size: var(--type--scale0);

    @media (--medium-up) {
      font-size: calc(var(--type--base) + 3 * calc(100vw - var(--area--medium)) / 400);
    }
  }

  --type--small {
    font-size: calc(var(--type--scale0) / var(--type--ratio));

    @media (--medium-up) {
      font-size: calc(
        calc(var(--type--base) / var(--type--ratio)) + 3 * calc(100vw - var(--area--medium) / 400
        );
    }
  }

}
